<%- include('partials/head')%>
<body class="d-flex flex-column 100vh">
    <main class="container mt-5">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Res Judicata</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/clients">Clients</a>
                  <a class="nav-link" href="/cases">Cases</a>
                  <a class="nav-link" href="/courts">Courts</a>
                  <a class="nav-link" href="/judges">Judges</a>
                </div>
                <form class="d-flex" method="POST" action="/clients" novalidate>
                  <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search Clients</button>
                </form>
              </div>
            </div>
          </nav>
        <h1 class="text-center mt-4 mb-3"> Clients Page</h1>
                <table class="table table-hover mt-5 border p-4 bg-light shadow table-bordered">
                    <thead>
                        <tr class="table-danger">
                            <th scope="col"> ClientID</th>
                            <th scope="col"> Client Name</th>
                            <th scope="col"> Contact Name</th>
                            <th scope="col"> Phone Number</th>
                            <th scope="col"> Email</th>
                            <th scope="col"> Address</th>
                            <th scope="col"> City</th>
                            <th scope="col"> State</th>
                            <th scope="col"> Zip Code</th>
                            <th scope="col" class="text-end"> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%rows.forEach(data => {%>    
                            <tr class="table-warning">
                                <td><%= data.clientID %></td>
                                <td><%= data.client_name %></td>
                                <td><%= data.contact_name %></td>
                                <td><%= data.phone_number %></td>
                                <td><%= data.email_address %></td>
                                <td><%= data.address %></td>
                                <td><%= data.city %></td>
                                <td><%= data.state %></td>
                                <td><%= data.zip_code %></td>
                                <td class="text-end">
                                    <a href="/editclient/<%= data.clientID %>" type="button" class="btn btn-primary btn-small"><i class="bi bi-pencil"></i>Edit</a>
                                    <a href="/clients/<%= data.clientID %>" type="button" class="btn btn-danger btn-small"><i class="bi bi-person-x"></i>Delete</a>
                                </td>
                            </tr>
                        <%})%>    
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-6 d-flex justify-content-end">
                        <a href="/addclient" type="button" class="btn btn-primary align-self-center">+Add Client</a>
                    </div>
                </div>
        </div>

        <%- include('partials/footer')%>
    </main>
</body>
</html>
